
#headshot {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display:block;
    padding-top: 10px;
}
body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    background-color: rgb(214, 244, 249);
    color: rgb(52, 45, 45)
}
.top {
    font-family: 'Nabla', cursive;
    color: rgb(0, 0, 0);
    background-color: rgb(254, 214, 212);
    padding: 10px;
    text-align: center;
    font-size: 28px;

}
#controller {
    position:absolute;
    top:10px;
    right:20px;
}
#dawg {
    position:absolute;
    top: 10px;
    left: 10px;
}
.greeting {
    font-family: 'Amatic SC', cursive;
    color: rgb(198, 10, 1);
    background-color: rgb(214, 244, 249);
    text-align: center;
}
.languages {
    font-size: 16px;
    background-color: rgb(214, 244, 249);
    padding: 10px;
    border: 3px transparent;
    text-align: center;
    overflow:hidden
}
.languageContent{
    font-size:13px;
    width: 45%;
    float: left;
    padding: 2px;
    margin:1px;
}
.languageContent > ul {
    margin:0;
    text-align: left;
}
.leadership {
    font-size: 16px;
    color: rgb(22, 20, 20);
    overflow:hidden;
    background-color: rgb(214, 244, 249);
    padding: 10px;
    border: 3px transparent;
    text-align: center;
}
.leadershipContent {
    width: 45%;
    float: left;
    padding: 2px;
    margin:1px;
}
.leadershipContent > dl {
    margin:0;
}
.skills {
    font-size: 16px;
    background-color: rgb(214, 244, 249);
    padding: 10px;
    border: 3px transparent;
    text-align: center;
    overflow:hidden
}
.skillsContent {
    width: 45%;
    float: left;
    padding: 2px;
    margin:1px;
}
.skillsContent > dl {
    margin:0;
    text-align: left;
}
a:link{
    color: rgb(56, 212, 12);
    text-decoration-line: none;
}

a:visited{
    color:rgb(179, 129, 129);
}

a:hover {
    color: #9d8811;
}

#contact:link, #contact:visited {
    color: white;    
    background-color: #1ebba3;    
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #099983;
    text-decoration: none;
    text-align: center;
    font: 14px Arial, sans-serif; 
}
#contact:hover, #contact:active {
    background-color: #7443b6; 
    border-color: #7443b6;
}
hr {
    border: 5px solid rgb(216, 248, 206);
    padding: 0%;
    margin: 3px;
}
p {
    margin-bottom: 0;
    font-size: 16;
}

img {
    margin: 1px;
}

.bottom {
    text-align: center;
    padding-top: 38px;
    padding-bottom: 40px;
    background-color: rgb(225, 145, 145);
    color:rgb(198, 10, 1)
}

.form {
    font-size: 16px;
    font-family: 'Amatic SC', cursive;
    color: rgb(0, 0, 0);
    overflow:hidden;
    background-color: rgb(187, 223, 233);
    padding: 10px;
    border: 3px transparent;
    text-align: center;
}
.formLabel {
    margin-right: 2%;
    width: 48%;
    float: left;
    text-align: right;
}
.formInput {
    margin-left: 2%;
    width: 48%;
    float: left;
    text-align: left;
}
